@use '../styles/variables' as *;

.main-menu {
  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
  }

  li .menu-item {
    background-color: var(--text-bg);
    border-radius: var(--border-radius);
    padding: 10px 20px;
    font-size: clamp(1.2rem, 1rem + 1vw, 1.6rem);
    opacity: 0.6;
    transition: opacity 0.3s ease, background-color 3s;
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
    display: block; /* Make the whole area clickable */
  }

  li .menu-item:hover {
    opacity: 1; /* Full opacity on hover */
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  li .menu-item.active-link { /* Style for active menu item */
    opacity: 1;
  }
}

.home-page > .main-menu {
  .menu-item {
    opacity: 1;
  }
}

@media (max-width: $mobile-breakpoint) {
  .main-menu {
    ul {
      justify-content: center;
    }

    li .menu-item {
      border-radius: 0;
      padding-right: 25px;
      padding-left: 25px;
    }

    li:first-child .menu-item {
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    li:last-child .menu-item {
      border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }
  }
}
